*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
.contr{
    background-image: url(green.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
   
}
.sidebar{
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: #95ad34;
    left: -350px;
    z-index: 0;
    transition:  0.2s linear;
    
}
#but1{
    position:absolute;
    left: 10px;
    color: white;
    font-size: 30px;
    
    
    
}
#but2{
    position: absolute;
    left: -270px;
    
    color: #646c24;
    font-size: 20px;
    cursor: pointer;
}
h3{
 text-align: center;
 font-size: 35px;
 color: green;
 padding-top: 20px;
 height: 60px;
 font-weight: 700;
 transition: all 0.5s;
 
    
}
.menu{
    margin-top: 20px;
    line-height: 3.5;
    
   
}
.menu ul li{
    
    border-bottom: 2px solid #646c24;
}
.menu ul li a{
    position: relative;
    color: aliceblue;
    padding-left: 20px;
    font-size: 22px;
    
   
    
}
.socia{
    position: absolute;
    bottom: 10px;
    left: 85px;
    font-size: 20px;
    
    
    
}
.socia i{
    margin: 7px;
}
#check:checked ~.sidebar{
    left: 0;
}
#check:checked~#but2{
    left: 275px;
    top: 74px;

}
label{
    z-index: 1;
   
}
#check{
    display: none;
}
#home{
    border-top: 2px solid #646c24;
}
.menu ul li a i{
    margin: 15px;
}
#check:checked~#but1{
    left: -270px;

}
li{
    transition: all 0.5s;
}
li:hover{
    background-color: green;
    padding-left: 25px;
}
span{
    transition: all 0.2s linear;
  
}
span:hover{
    font-size: 30px;
    

}


